rdflib==4.2.2
lxml==4.3.0
networkx==2.2
numpy==1.16.2
gensim==3.4.0
nl_core_news_sm==2.2.1
pytorch_pretrained_bert==0.6.2
spacy==2.1.4
matplotlib==3.0.3
Deprecated==1.2.6
wikitextparser==0.26.1
pytest==4.3.1
torch==1.1.0
scipy==1.1.0
KafNafParserPy==1.896
python_Levenshtein==0.12.0
forked_path==0.2.3
scikit_learn==0.21.3
PyYAML==5.1.2
