rdflib==4.2.2
lxml==4.9.1
networkx==2.2
numpy==1.22.0
gensim==3.4.0
pytorch_pretrained_bert==0.6.2
spacy==2.2.2
matplotlib==3.0.3
Deprecated==1.2.6
wikitextparser==0.26.1
pytest==4.3.1
scipy==1.10.0
KafNafParserPy==1.896
python_Levenshtein==0.12.0
forked_path==0.2.3
scikit_learn==0.21.3
